@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: Raleway;
    font-weight: bold;
    src: url('../fonts/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: Raleway-ExtraBold;
    src: url('../fonts/Raleway-ExtraBold.ttf');
}

@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OpenSans;
    font-weight: bold;
    src: url('../fonts/OpenSans-Bold.ttf');
}

*:not(p) {
    padding: 0;
    margin: 0;
}

body {
    font-family: OpenSans;
    font-size: 14px;
    background-color: #ECECEC;
    color: #4E4E4E;
}

a {
    color: unset;
    text-decoration: none;
}

#tutorialArrow {
    position: absolute;
    top: 20px;
    left: 80px;
    width: 64px;
    height: 64px;
}

#tutorialPlatform {
    position: absolute;
    left: 20px;
    top: 3px;
}

#tutorialText {
    position: absolute;
    top: 90px;
    left: 70px;
    font-family: Raleway;
    font-size: 23px;
    color: #FFF;
}

#tutorialClose {
    display: inline-block;
    width: 90px;
    height: 38px;
    position: absolute;
    top: 13px;
    right: 0;
    font-weight: bold;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #FFF;
}

#tutorialCloseText {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 10px;
    font-family: Raleway-ExtraBold;
    font-size: 23px;
    font-weight: bold;
    color: #AA77BB;
    cursor: pointer;
}

#tutorialCloseButton {
    position: absolute;
    top: 8px;
    left: 6px;
    width: 22px;
    height: 22px;
    font-size: 23;
    background-image: url('..img/close.png');
    background-size: contain
}

.platform-box {
    display: none;
}

.platform-box.win,
.platform-box.linux,
.platform-box.tmk,
.platform-box.mac {
    display: block;
    position: relative;
    margin-top: 16px;
    padding: 2px 10px 10px 10px;
    border: 3px solid #AA77BB;
}

.platform-box:not(.win):not(.linux):not(.tmk):not(.mac),
.platform-box.win.skip-win,
.platform-box.linux.skip-linux,
.platform-box.tmk.skip-tmk,
.platform-box.mac.skip-mac {
    display: block;
    position: relative;
    margin-top: 16px;
    border:none;
    border-top: 3px solid #AA77BB;
}

[class='platform-box'] .platform-toggle,
.platform-box.linux .platform-toggle,
.platform-box.win .platform-toggle,
.platform-box.mac .platform-toggle,
.platform-box .platform-toggle {
    content: '';
    display: inline-block;
    width: 35px;
    height: 35px;
    position: absolute;
    top: -19px;
    left: 10px;
}

[class='platform-box'] .platform-toggle,
.platform-box:not(.win):not(.linux):not(.tmk):not(.mac) .platform-toggle {
    background: #F7F7F7 url('../img/platforms_purple.png') no-repeat center / 66%;
}

.platform-box.linux .platform-toggle {
    background: #F7F7F7 url('../img/linux_purple2.svg') no-repeat center / 66%;
}

.platform-box.win .platform-toggle {
    background: #F7F7F7 url('../img/win_purple.svg') no-repeat center / 86%;
}

.platform-box.tmk .platform-toggle {
    background: #F7F7F7 url('../img/tmk_purple.svg') no-repeat center / 83%;
}

.platform-box.mac .platform-toggle {
    background: #F7F7F7 url('../img/mac_purple.svg') no-repeat center / 83%;
}

.platform-box.win #win {
    background-image: url(../img/win_purple.svg);
}

.platform-box.linux #linux {
    background-image: url(../img/linux_purple.svg);
}

.platform-box.tmk #tmk {
    background-image: url(../img/tmk_purple.svg);
}

.platform-box.mac #mac {
    background-image: url(../img/mac_purple.svg);
}

#platforms:after, #tutorialPlatform {
    content: "";
    display: inline-block;
    height: 60px;
    width: 34px;
    background-image: url("../img/platforms.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 50%;
}

#platforms.linux:after,
#platforms.win:after {
    width: 31px;
    margin-left: 3px;
}

#platforms.linux:after {
    background-image: url("../img/linux_white.svg");
}

#platforms.win:after {
    background-image: url("../img/win_white.svg");
}

#platforms.tmk:after {
    background-image: url("../img/tmk_white.svg");
}

#platforms.mac:after {
    width: 37px;
    background-image: url("../img/mac_white.svg");
}

#platforms {
    display: flex;
}

#platforms:after {
    margin-left: 0;
    padding: 0;
}

#platforms:hover .platform-picker {
    display: flex;
    visibility: visible;
    opacity: 1;
}

.platform-picker.mini {
    top: 45px;
    right: unset;
    left: -28px;
    width: 90px;
    height: 95px;
    padding: 5px 5px 5px 9px;
    border-radius: 20px;
}

.platform-picker.mini:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -11px;
    left: 30px;

    border-right: 14px solid transparent;
    border-left: 14px solid transparent;
    border-bottom: 14px solid #AA77BB;
}

.platform-box .platform-toggle:hover .platform-picker.mini {
    display: flex;
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.platform-picker.mini a {
    width: 40px;
    height: 40px;
    background-size: 33px;
}

.platform-picker.mini :before + a {
    margin-right: 2px;
}

.platform-picker {
    opacity: 0;
    visibility: hidden;
    display: none;
    position: absolute;
    left: 0;
    top: 59px;
    width: 100px;
    height: 105px;
    padding: 5px 5px 5px 13px;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #AA77BB;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    
    transition: all .2s ease-in-out;
}

.platform-picker a {
    display: inline-block;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background: #FFF center no-repeat;
    background-size: 36px;
}

.platform-picker #linux {
    background-image: url("../img/linux_gray.svg");
}

.platform-picker #tmk {
    background-image: url("../img/tmk_gray.svg");
}

.platform-picker #mac {
    background-image: url("../img/mac_gray.svg");
}

.platform-picker #win {
    background-image: url("../img/win_gray.svg");
}

.platform-picker #mac {
    background-image: url("../img/mac_gray.svg");
}

#platforms.linux .platform-picker #linux {
    background-image: url("../img/linux_purple.svg");
}

#platforms.tmk .platform-picker #tmk {
    background-image: url("../img/tmk_purple.svg");
}

#platforms.mac .platform-picker #mac{
    background-image: url("../img/mac_purple.svg");
}

#platforms.win .platform-picker #win {
    background-image: url("../img/win_purple.svg");
}

main, #navbar {
    padding-left: 20px;
    padding-right: 20px;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    width: calc(100% - 40px);
    height: 60px;
    background-color: #AA77BB;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

#navLogo {
    display: block;
    width: 45px;
    height: 45px;
    position: absolute;
    right: calc(50% - 21px);
    z-index: -1;
}

#navLogo img {
    width: 100%;
    height: 100%;
}

#menuIcon {
    position: absolute;
    right: 20px;
    width: 30px;
    z-index: 10;
    transition: right .2s ease-in-out;
}

#menuIcon:before,
#menuIcon:after,
#menuIcon #hamburger {
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 4px;
    margin-bottom: 7px;
    transition: all .2s ease-in-out;
}

#menuIcon::after {
    margin-bottom: 0;
}

#menuIcon.isActive:before {
    transform: translateY(10px) rotate(135deg);
    background-color: #AA77BB;
}

#menuIcon.isActive:after {
    transform: translateY(-12px) rotate(-135deg);
    background-color: #AA77BB;
}

#menuIcon.isActive #hamburger {
    transform: scale(0);
    background-color: #AA77BB;
}

#menu {
    position: absolute;
    top: 0;
    left: -100vw;
    width: 100vw;
    max-width: 450px;
    height: 100vh;
    overflow: auto;
    background-color: #AA77BB;
    color: #FFF;
    font-family: Raleway-ExtraBold;
    font-size: 40px;
    text-transform: uppercase;
    transition: left .5s ease;
}

#menu.isActive {
    left: 0;
}

#menuHeader {
    width: 100%;
    height: 155px;
    overflow: hidden;
    background-color: #FFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

#menuLogo {
    display: block;
    width: 127px;
    height: 127px;
    margin: 12px auto;
}

#menu ul {
    margin: 0;
    list-style: none;
}

#menu ul a {
    display: flex;
    width: 100%;
    padding: 12px 25px;
}

#menu > ul > li {
    padding: 0;
    border-bottom: 2px dashed #FFF;
}

#menu > ul > li:last-child {
    border-bottom: none;
}

#menu .has-submenu {
    position: relative;
}

#menu .has-submenu.isActive:before {
    content: '▴';
    position: absolute;
    top: 10px;
    right: 0;
    pointer-events: none;
}

#menu .has-submenu.isActive > a {
    background: #8A4E9D;
}

#tutorialScreen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, .7);
    opacity: 0;
    -webkit-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
}

#tutorialScreen.show {
    opacity: 1;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
}

.has-submenu ul {
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
}

.has-submenu ul.show {
    height: auto;
}

.has-submenu ul li {
    font-family: Raleway;
    font-size: 32px;
    font-weight: bold;
    text-transform: none;
}

main {
    max-width: 980px;
    /*min-height: calc(100vh - 70px);*/
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 20px;
    background-color: #F7F7F7;
}

main img {
    width: auto;
    display: block;
    max-width: 700px;
    width: 100%;
    margin: 20px auto;
}

main img.smallImg {
    max-width: 400px;
}

main img.autoWidth {
    width: auto;
}

main img:not(.headerImg) + p.italic {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

main img:not(.headerImg).left + p.italic {
    max-width: unset;
    text-align: left;
}

main a {
    color: #2371A5;
}

main ul li {
    position: relative;
    padding-left: 13px;
}

main ul li:before {
    position: absolute;
    left: 0;
}

main ul li ul {
    padding-left: 15px;
}

main#linksContainer {
    height: calc(100vh - 110px);
}

main .platform-box:last-child {
    margin-bottom: 50px;
}

main .platform-box:last-child.win.skip-win,
main .platform-box:last-child.linux.skip-linux,
main .platform-box:last-child.tmk.skip-tmk,
main .platform-box:last-child.mac.skip-mac {
    margin-bottom: 115px;
}

p + ul {
    margin-top: -1em;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.7rem;
    text-align: center;
}

h2 {
    margin: 1em 0;
}

h3 {
    text-transform: uppercase;
    text-decoration: underline;
    margin: 22px 0;
}

ul {
    list-style-type: none;
}

main ul li:before {
    content:"";
}

ul.disc li:before {
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
    content: "•";
    font-size: 1.1em;
    line-height: 1.4;
    font-weight: bold;
}

ul.dashed li:before {
    display: inline-block;
    margin-right: 5px;
    content: "-";
    font-size: 1.2em;
    line-height: .8;
    font-weight: bold;
}

ol.bracket {
    counter-reset: list;
}

ol.bracket > li {
    list-style: none;
    position: relative;
}
ol.bracket > li:before {
    counter-increment: list;
    content: counter(list) ") ";
    font-weight: bold;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

code {
    display: inline-block;
    width: calc(100% - 30px);
    padding: 0 15px;
    overflow: scroll;
    background-color: #67A;
    color: #FFF;
}

code.one-line {
    padding: 5px 10px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

code:not(.one-line)::-webkit-scrollbar {
    display: none;
}

.quote {
    margin: 1em 0;
    padding: 15px;
    background-color: #DEDEDE;
    border-left: 3px dotted #AA77BB;
}

.quote p:first-child {
    margin-top: 0;
}

.quote > p:last-child {
    margin-bottom: 0;
}

.anchor::before {
    content: "";
    display: block;
    height: 80px;
    margin: -80px 0 0;
} 

.spoiler {
    margin: 1em 0;
    padding: 1px 10px;
    background-color: #DEDEDE;
    border-left: 3px solid #AA77BB;
}

.spoiler.isActive {
    padding-bottom: 15px;
}

.spoiler > p {
    margin: 5px 0;
}

.spoiler.isActive > p {
    margin: 5px 0 15px;
}

.spoiler > p > span:before {
    content: '▼';
    margin-right: 3px;
}

.spoiler .quote {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #CACACA;
}

.spoiler.isActive > p > span:before {
    content: '▲';
}

.spoilerBody {
    display: none;
}

.spoilerBody.isActive {
    display: block;
}

.bold {
    font-weight: bold;
}

.underlined {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.linethrough {
    text-decoration: line-through;
}

img.left {
    margin: 20px 0;
}

@media only screen and (min-width: 450px) {
    main, #navbar {
        padding-left: 30px;
        padding-right: 30px;
    }

    #navbar {
        width: calc(100% - 60px);
    }

    #navIcon {
        transition: all .2s ease-in-out;
    }

    #menuIcon.isActive {
        right: calc(100vw - 430px);
        transition: right .4s ease-in-out;
    }

    #menuIcon:before,
    #menuIcon:after,
    #menuIcon #hamburger {
        transition: none;
    }

    h1 {
        font-size: 2rem;
    }

    #tutorialPlatform {
        left: 30px;
    }    
}

@media only screen and (min-width: 1100px) {
    #navbar {
        flex-direction: row-reverse;
        justify-content: center;
    }

    #platforms {
        position: relative;
        width: 170px;
        margin-left: 15px;
    }

    #platforms:before {
        content: 'PLATFORMS';
        position: absolute;
        top: calc(50% - 13px);
        margin-left: 41px;
        font-family: 'Raleway';
        font-size: 20px;
        font-weight: bold;
        color: #FFF;
    }

    #menu {
        position: unset;
    }

    #menu ul {
        margin: 8px 25px 0 25px;
    }

    #menuContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    #menu, ul, #menu ul li {
        height: 100%;
        padding: 0;
    }

    #menu ul li a {
        display: block;
        width: auto;
        padding: 0;
    }

    #menu {
        width: unset;
        max-width: unset;
        overflow: unset;
    }

    #menu > ul {
        display: flex;
        margin: 0;
    }

    #menu ul li {
        font-family: Raleway;
        font-size: 20px;
        font-weight: 600;
        background-color: #AA77BB;
        color: #FFF;
    }

    #menu > ul > li {
        border: none;
    }

    #menu > ul > li > ul > li {
        background: #8A4E9D;
    }

    #menu > ul > li:hover,
    #menu > ul > li.active {
        background-color: #FFF;
        color: #AA77BB;;
    }
    
    .has-submenu {
        text-align: center;
    }

    .has-submenu ul {
        display: none;
    }

    #menu .has-submenu li {
        margin-bottom: 0;
        padding: 10px 15px;
        text-align: left;
        white-space: nowrap;
    }

    #menu .has-submenu li:hover {
        background-color: #FFF;
        color: #AA77BB;;
    }

    #menu > ul > li > a {
        display: inline-block;
        height: 25px;
        padding: 17px 20px;
    }

    #menu .has-submenu:hover > ul {
        position: absolute;
        top: 60px;
        display: block;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        background-color: #AA77BB;
    }

    #menu .has-submenu .has-submenu ul {
        top: 0;
        left: 100%;
    }

    #menu .has-submenu.isActive:before {
        content: "";
    }

    #menuHeader {
        display: none;
    }

    #menuIcon {
        display: none;
    }

    #navLogo {
        position: unset;
        width: 43px;
        height: 43px;
        margin-right: 20px;
        margin-left: 10px;
    }

    #linksContainer {
        height: calc(100vh - 110px);
    }
}