<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dreymar's Big Bag Of Kbd Tricks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="UTF-8">
    <link href="web/main.css" rel="stylesheet">
    <link rel="icon" href="res/ico/Cmk-ico64_c4.png">
</head>
<body>
    <nav id="navbar">
        <div id="menuIcon">
            <div id="hamburger"></div>
        </div>
        <div id="platforms">
            <div id="platformIcons">
                    <a id="linux" href="#"></a>
                    <a id="tmk" href="#"></a>
                    <a id="mac" href="#"></a>
                    <a id="win" href="#"></a>
            </div>
        </div>
        <div id="menuContainer">
            <div id="menu">
                <div id="menuHeader">
                    <img id="menuLogo" src="web/w_img/logo-menu.png" alt="Menu Logo">
                </div>
                <ul>
                    <li class="submenu"><a href="keymappings.html">MAPPINGS</a>
                        <ul>
                            <li><a href="colemaked.html">Colemak[eD]</a></li>
                            <li><a href="extendlayers.html">Extend Layers</a></li>
                            <li><a href="deadkeys.html">Dead Keys</a></li>
                        </ul>
                    </li>
                    <li><a href="ergomods.html">ERGONOMY</a></li>
                    <li><a href="otherlayouts.html">VARIANTS</a></li>
                    <li><a href="typingtricks.html">TRICKERY</a></li>
                    <li><a href="guestlinks.html">LINKS</a></li>
                </ul>
            </div>
        </div>
        <a id="navLogo" href="index.html"><img src="web/w_img/logo-nav.png" alt="Logo"></a>
    </nav>
    <main>

        {{content}}

    </main>
    <script src="web/main.js"></script>
</body>
</html>